body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;


  background-image: linear-gradient(50deg, #d4e4f3, #f59eb7);
  min-height: 100vh;
}
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4rem;

  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;

  background: rgba(255, 255, 255, 0.6); 

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
nav a {
  margin-top: 0; 
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
  transition:2s;
  font-size:1.2rem;
}
nav a:hover {
  
color:rgb(0, 0, 0);
    transform:translatey(-10px);
}
.name{
  font-family: "Leckerli One", cursive;

  text-transform: capitalize;
  font-size:1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  margin-left:-450px;
  
  
 

}




nav div{
    margin:0;
    padding:0;
    width:10%;
}




.main{
  position: fixed;
  top:22vh;
  left:40vw;
  transition:4s;
}
.main h1{
  margin-left:4vw
}

.main .main2{
  text-align:center;
  margin-left:-2vw;
  background-color:white;
  padding:4rem ;
  font-weight:bold;
  border-radius:10px;

  

}
.main3{
  display:flex;
  flex-wrap:wrap;
  gap:36px;
  margin-top:1.4rem;
  margin-bottom:0;
 
 

}
.main3 img{
  background-size: cover;
  width:60px;
  height:auto
}


.main2{
  transition:2s;
}
.main3 img:hover{
  transform:translatey(-1px)
}
.main2:hover{
  box-shadow:10px 20px 50px black;
  transform:translatey(-12px);
  background-color:rgb(110, 107, 107);
  color:white;
}