body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;


  background-image: linear-gradient(50deg, #d4e4f3, #f59eb7);
  min-height: 100vh;
}
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4rem;

  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;

  background: rgba(255, 255, 255, 0.6); 

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
nav a {
  margin-top: 0; 
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
  transition:2s;
  font-size:1.2rem;
}
nav a:hover {
  
color:rgb(0, 0, 0);
    transform:translatey(-10px);
}
.name{
  font-family: "Leckerli One", cursive;

  text-transform: capitalize;
  font-size:1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  margin-left:-450px;
  
  
 

}




nav div{
    margin:0;
    padding:0;
    width:10%;
}




.main{
  margin-top:20vh;
  line-height: 4rem;
  text-transform: capitalize;
  margin-left: 40vw;
  font-size:2rem
}

.main div{
  border-radius:10px;
  background-color:white;
  width:24vw;
  padding:10px;
  transition:2s;
  font-weight:bold;
  box-shadow:10px 10px 100px rgb(167, 165, 165);
}
.main h1{
  margin-left:4vw
}
.main div:hover{
  background-color: black;
  box-shadow:6px 1px 100px white;
  color:white;
  
}